.entrie__container {
  width: 350px;
  height: 100px;
  background-color: $secondary;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entrie__trash {
  margin-right: 20px;
  font-size: 20px;
  color: $primary;
}

.entries__container {
  max-height: 47rem;
  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: $primary;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
  }
  overflow-y: scroll;
}

.entrie__listname {
  padding-left: 20px;
  font-size: 18px;
  color: $primary;
}

.entrie__screen {
  color: $primary;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: $light;
  display: flex;
  // justify-content: center;
  align-items: center;
}
.entrie__header {
  margin-top: 90px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  div {
    margin: 50px;
  }
}

.entrie__name {
  font-size: 64px;
}

.entrie__addSomeone {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 320px;
  height: 100px;
  background-color: $primary;
  color: $secondary;
}

.entrie__entrieTipe{
  font-size: 18px;
  padding: 10px;
  color: $secondary;
  text-align: center;
  background-color: darken($color: $primary, $amount: 13);
  border-radius: 10px;
  margin: 10px;
  width: 310px;
  height: 22px;
}