.h2 {
  color: $secondary;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 20px;
}

.error{
  margin: 0px auto;
  margin-bottom: 10px;
  display: flex;
  background-color: $advert;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $light;
}