* {
    font-family: "Roboto";
    margin: 0px;
  }
  
  html,
  body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  main {
    width: 80%;
  }

  a{
    text-decoration: none;
    color: #000000;
  }
  
  .mt-1 {
    margin-top: 5px;
  }
  
  .mt-5 {
    margin-top: 20px;
  }
  
  .mb-1 {
    margin-bottom: 5px;
  }
  
  .mb-5 {
    margin-bottom: 20px;
  }
  
  .pointer {
    cursor: pointer;
  }

  .dp{
    display: none;
  }

  .onehw{
    width: 100%
  }
  .ninew{
    width: 90%
  }
  .eightw{
    width: 80%
  }
  .sevenw{
    width: 70%
  }
  .sixw{
    width: 60%
  }
  .fivew{
    width: 50%
  }
  .fourw{
    width: 40%
  }
  .threew{
    width: 30%
  }
  .twow{
    width: 20%
  }
  .onew{
    width: 10%
  }

  .onehh{
    height: 100%
  }
  .nineh{
    height: 90%
  }
  .eighth{
    height: 80%
  }
  .sevenh{
    height: 70%
  }
  .sixh{
    height: 60%
  }
  .fiveh{
    height: 50%
  }
  .fourh{
    height: 40%
  }
  .threeh{
    height: 30%
  }
  .twoh{
    height: 20%
  }
  .oneh{
    height: 10%
  }

  .jcenter{
    display: flex;
    justify-content: center;
  }

  .flex{
    display: flex;
  }

  .acenter{
    display: flex;
    align-items: center;
  }
  
  .column{
    display: flex;
    flex-direction: column;
  }

  .spaceb{
    display: flex;
    justify-content: space-between;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: $primary;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $light;
    border-radius: 10px;
  }